body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: lightslategray;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100vw;
}