* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: lightslategray;
    margin: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 840px;
    margin: 0 auto;
    padding: 0 24px;
}

.image {
    position: relative;
    width: 100%;
}

.crowd {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.button {
    border-radius: 4px;
    font-size: 24px;
    width: 100px;
    height: 48px;
    background: gray;
    color: white;
}